@use './variables.scss' as *;

.ctn{
  background-color: $light;
  padding: 7rem 5rem;
  color: $dark;
}

.header{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
    line-height: 1.4;
}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0rem 2rem;
}

.card {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  text-align: center;
  color: black
}

.icon {
  width: 6rem;
  height: 6rem;
}

.title {
  font-size: 1.3rem; 
  font-weight: 700;
  padding-bottom: 0.4rem;
}

.description {
  width: 100%;
  font-size: 1.1rem; 
}

@media (max-width: 640px) {
  .header{
    font-size: 1.7rem
  }

  .title{
    font-size: 1.5rem
  }

  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .ctn{
    background-color: $light;
    padding: 7rem 1rem;
  }

  .header{
    font-size: 2rem
  }

  .items{
    gap: 3rem;
  }
}