@use './variables.scss' as *;

.ctn {
  padding: 1rem 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $extraDark;
  z-index: 10;
}

.title{
  text-align: left;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.8rem; 
  font-weight: 700;
  color: white;
}

.tagline {
  font-family: monospace;
  font-size: 0.8rem; 
  color: #aec0d6; 
  display: flex;
  gap: 0.5rem
}

.bottomSection {
  text-align: center;
  font-size: 0.875rem; 
  color: #b8c7db; 
  padding-bottom: 1rem
}

@media (max-width: 640px) {
  .ctn{
    padding: 1.5rem 1.5rem 0;
  }

  .title{
    text-align: left;
    padding: 0;
    margin-bottom: 1rem;
  }

  .tagline {
    font-family: monospace;
    font-size: 0.7rem; 
    color: #aec0d6; 
    display: flex;
    gap: 0.1rem
  }
}