@use './variables.scss' as *;

.ctn {
  height: 75vh;
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 15rem 6rem 4rem;
  color: $dark;

  background: linear-gradient(
    to bottom,
    #b3d8f3 0%,
    $primary 40%,
    $primary 70%,
    $light 100%
  );
  overflow: hidden;
  opacity: 0.95;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background-image: url('/herolg.png');
  //   background-size: auto;
  //   background-position: top center;
  //   background-repeat: no-repeat;
  //   opacity: 0.5;
  //   z-index: 0;
  //   overflow: hidden;
  // }
}

.title {
  z-index: 5;
  font-size: 4rem;
  font-weight: bolder;
  padding-top: 2rem;
  text-align: start;
}

.subtext {
  z-index: 5;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 2rem;
  text-align: start;
}

.btnctn {
  position: fixed;
  bottom: 7.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200; 
  height: fit-content;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
}

.herobtn{
  z-index: 200;
  width: fit-content;
  padding: 0.8rem 6rem;
  font-size: 2rem;
  background-color: $bright;
  color: white;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  opacity: 100%;
  margin: 7rem auto 0;

  &:hover {
    transform: scale(1.03);
  }
}

@keyframes wave {
  0%, 100% {
    transform: scaleY(1);
    opacity: 0.6;
  }
  50% {
    transform: scaleY(1.8);
    opacity: 1;
  }
}

//mobile styles
@media (max-width: 640px) {
 .ctn {
    height: 70vh;
    font-size: 2.5rem;
    padding: 0 1rem 0;
    
    // &::after {
    //   background-image: url('/herosm.png');
    // }
  }

  .title {
    font-size: 2rem;
  }

  .subtext {
    font-size: 1.5rem;
  }

  .btnctn{
    bottom: 3rem;
    width: 100%
  }

  .herobtn {
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .subtext {
    font-size: 1.5rem;
  }

  .btnctn{
    bottom: 3rem;
    width: 100%
  }

  .herobtn {
    padding: 0.6rem 4rem;
    font-size: 0.9rem;
  }
}