@use './variables.scss' as *;

.ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: $primary;
  padding: 7rem 1rem 5rem;
  width: 100vw;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;
  color: $dark;
}

.subtitle {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-weight: 700;
}

.benefitctn{
  position: relative;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 80%;
}

.disclaimer{
  position: absolute;
  bottom: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}

.benefit{
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 1rem;
  font-weight: 600;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border-radius: 9999px;
}

.numberIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 60rem;
  width: 2rem;
  height: 2rem;
  font-weight: 800;
}

.scenario{
  margin: 3rem 0 1rem ;
  padding-top: 2rem;
}

.progressbox {
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  width: 60%;
  margin: 0 auto 2rem auto;
}

.progressinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.userIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.count {
  font-size: 1.5rem;
  font-weight: 700;
}

.total {
  font-size: 1.125rem;
  margin-left: 0.5rem;
  opacity: 0.8;
}

.progressbar {
  height: 1rem;
  background: white;
  border-radius: 9999px;
  margin-bottom: 1rem;
  overflow: hidden;
  border: 1px solid $dark;

  .progressfill {
    height: 100%;
    background: $dark;
    border-radius: 9999px;
  }
}

.remaining {
  font-size: 0.9rem;
  opacity: 0.9;
  margin-left: auto;
  width: fit-content;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-top: 0.1rem solid $dark;
  padding: 2rem 0;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 9999px;
  border: 1px solid $dark;
  font-size: 1rem;
  outline: none;
  background-color: white;

  &:focus {
    border-color: $dark;
    box-shadow: inset $primary 0 0 0 2px;
  }
}

.rowOne{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 65%;
  background-color: white;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 2rem 2rem 0 0;
}

.rowTwo{
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 65%;
  gap: 1rem;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
}

.fileInput{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min-content;
  gap: 0.5rem;
  border-radius: 5rem;
  text-align: center;
}

.btn {
  background: $dark;
  width: fit-content;
  color: white;
  padding: 0.7rem 2.5rem;
  font-weight: 600;
  border-radius: 5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 2rem;
    padding: 0 1.5rem
  }

  .subtitle{
    padding: 0 1.5rem
  }

  .benefitctn{
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 95%;
  }

  .disclaimer{
    width: 100vw;
    transform: translateX(-35%);
  }

  .progressbox, .form, .rowOne{
    width: 90%;
  }

  .rowTwo{
    flex-direction: column;
    width: 90%;
    gap: 2rem;
  }

  .btn{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .benefitctn{
    width: 99%;
    gap: 1rem;
  }

  .rowTwo{
    flex-direction: column;
    gap: 2rem;
  }

  .btn{
    margin-left: auto;
    margin-right: auto;
  }

}